numpy
pandas
scipy

scikit-learn
imbalanced-learn

torch
torchvision

matplotlib
seaborn
plotly

jupyter
notebook
ipykernel

requests
python-dotenv

geemap
earthengine-api

openmeteo-requests

joblib

flask
chart.js

Pillow